*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-Med.ttf) format("truetype");
}
  
@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-Boo.ttf) format("truetype");
}
  
@font-face {
    font-family: "Futura";
    src: url(fonts/Futura-LigObl.ttf) format("truetype");
}
  

.bg-switcher{
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url(images/background1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-switcher img{
    width: 50vw;
}

.bg-switcher p{
    font-size: 48px;
    text-align: center;
    margin: 30px 0 0;
    font-weight: 100;
    color: #fff;
    font-family: "Futura";
    font-weight: italic;
    font-weight: lighter;
}

h2{
    font-size: 53.3px;
    padding: 40px;
    text-align: center;
    color: #3c5cdb;

}


.intro_content1,.intro_content2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.intro_content3{
    display: none;
}

#intro p{
    width: 400px;
    margin: 0 50px 30px;
    line-height: 32px;
}

.intro_text{
    width: 500px;
}

.intro_content1 a{
    background-color:#3d5ddb;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    display: block;
    width: 170px;
    text-decoration: none;
    margin: 0 115px 30px;
}

.intro_content2 a, .intro_content3 a{
    background-color:#ffbf02;
    color: #fff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    display: block;
    width: 170px;
    text-decoration: none;
    margin: 0 115px 30px;
}



.intro_content1 img {
    width: 500px;
}

.intro_content2 img {
    width: 500px;
}




a:hover{
    box-shadow: 0px 2px 15px 2px #c0c0c0;
}




.course_img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course_all{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}


#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    display: block;
    z-index: -1;
}

.course_in {
    width: 100%;
    height: 100%;
}



.course_content{
    width: 180px;
    height: 280px;
    background-color: #ffffff;
    margin: 10px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(106 137 152 / 20%);
    text-align: center;
}

#courses p{
    padding: 20px 0 0;
    font-weight: 700;
    margin: 10px;
    color:#043c78;
    font-size: 14.6px;
}

#courses a{
    display: block;
    font-size: auto;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    border-radius: 12px;
    color: #fff;
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: 20px;

}

#courses {
    z-index: 1;
    background-color: #d6e6f9;

}



#acsess{
    padding:0px 0px 40px;
    
}

.map{
    text-align: center;
}

iframe{
    width: 600px;
    height: 400px;
}

footer{
    text-align: center;
}

footer p{
    line-height: 60px;
    color: #3c5cdb;
    font-family: "Futura2";
}


.effect-fade {
    opacity: 0;
    transform: translate(0, 100px); 
    transition: all 2000ms;
}

.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
  }

  nav{
    display: flex;
    position: absolute;
    right: 30px;
    top: 30px;
  }

  nav li{
    list-style: none;
    text-align: left;
  }

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 26.6px;
    padding:30px 15px 0px;
    transition: all  0.3s ease;
    font-style: normal;
  }

nav a:hover{
    color:#3c5cdb;
    box-shadow: none;
}

.slider {
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
  }
  .slider-img {
    margin: 0;
  }
  .slider-img img {
    height: auto;
    width: 100%;
  }


@media
 screen and (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
    }

    html{
        height: 100%;
    }

    body{
        max-width: 480px;
        width:  100%;
        height: 100%;
         overflow-x: hidden;
         overflow-y: scroll; 
         -webkit-overflow-scrolling: touch;
         overflow-x: hidden;
    }


    nav{
        display: none;
        
    }

    .bg-switcher img{
        margin: 0 auto;
    }

    .bg-switcher p{
        font-size: 12px;
    }
  
    h2{
        font-size: 38px;
        font-weight: 700;
        padding: 0px;
        text-align: center;
    }
    


    #intro{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .intro_content1,.intro_content2{
        display: block;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
    }
    
    .intro_content1{
        text-align: center;
    }

    .intro_content2{
        display: none;
    }

    .intro_content3{
        display: block;
    }
    
    #intro img{
        width: 300px;

    }
    
    #intro p{
        width: 300px;
        line-height: 25px;
        font-size: 12px;
        text-align: initial;
        margin: 0 auto;
    }
    
    .intro_text{
        width: 100vw;
        text-align: center;
    }


    
    .intro_content1 a{
        color: #fff;
        border-radius: 12px;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        display: block;
        width: 170px;
        text-decoration: none;
        margin: 0 auto;
    }
    
    .intro_content3 a{
        color: #fff;
        border-radius: 12px;
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        display: block;
        width: 170px;
        text-decoration: none;
        margin: 0 auto
    }
    
    a:hover{
        box-shadow:#c0c0c0 0px 2px 15px 2px;
    }
    

    .course_content {
        width: 140px;
        height: 200px;
        background-color: #ffffff;
        margin-top: 20px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 3px rgb(106 137 152 / 20%);
        padding: 10px;
    }

    .course_img {
        width: 90px;
        height: 90px;
    }

    .course_img img {
        max-width: 100%;
        max-height: 100%;
    }

    #courses a{
        font-size: 5px;
        display: inline-block;
    }

    #courses p {
        font-size: 5px;
    }



    #images{
        position: relative;
        top:100px;
        margin-top: 50px;
        }

    #images ul{
        width: 280px;
        margin: 0px auto;
        margin-top: 50px;
    
    }
    #access{
        padding:0px 0px 40px;
        position: relative;
        top:100px;
        margin-top: 50px;
    }
    
    .map{
        text-align: center;
        width: 100%;
    }
    
    iframe{
        width: 100vw;
    }
    
    footer{
        text-align: center;
        position: relative;
        top:70px;
    }
    
    footer p{
        line-height: 60px;
    }
    
    
    .effect-fade {
        opacity: 0;
        transform: translate(0, 100px); 
        transition: all 2000ms; 
      }
      .effect-scroll {
        opacity: 1;
        transform: translate(0, 0);
        height: 100%;
      }
    
   
    
      nav li{
        list-style: none;
        text-align: left;
      }
    
    nav a{
        text-decoration: none;
        font-weight: 700;
        font-size: 26.6px;
        padding:30px 15px 0px;
      }
    
    nav a:hover{
        box-shadow: none;
        transition: all  0.3s ease;
    }
 }